<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>
    <link rel="stylesheet" href="../CSS//groupChat.css">
</head>
<body>
    <div id="total-grp">
        <h2>Members</h2><hr>
        <div id="for-availabe-group"></div>

    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"></script>
    <script src="../JS/adminFeatures.js"></script>
</body>
</html>