<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <link rel="icon" type="image/x-icon" href="../other/icons8-facebook-messenger.svg">
    <link rel="stylesheet" href="../CSS/member.css">
</head>

<body>



    <div id="available-user-heading">
        <h2 style="color: rgb(204, 32, 161);">Available User</h2>
        <hr>
        <div id="for-available-user"></div>
        <button id="memberSave">Save</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"></script>
    <script src="../JS/member.js"></script>
</body>

</html>