<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="icon" type="image/x-icon" href="../other/icons8-facebook-messenger.svg">
    <link rel="stylesheet" href="../CSS/sign-up.css">
</head>

<body>
    <div id="main-border">
        <div>
            <h2> ChatApp</h2>
            <hr>
        </div>
        <form onsubmit="sign_up(event)">
            <label for="name">Name</label><br>
            <input type="text" name="name" required><br>
            <label for="email">Email</label><br>
            <input type="email" name="email" required><br>
            <label for="phone_no">Phone No.</label><br>
            <input type="number" name="phone_number" required><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" required><br>
            <button type="submit">Sign-Up</button>
        </form><br>
        <a href="./login.html">Existing User Login..</a>
        <div id="success-msg"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"></script>
    <script src="../JS/sign-up.js"></script>


</body>

</html>