body {

    background: linear-gradient(-45deg, #52bfee, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: sans-serif;
    text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#chat-main-container {
    border: 1px solid black;
    width: 33%;
    margin-left: 60%;
    /* font-size: 25px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    border-radius: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

input {
    width: 85%;
    height: 30px;
    border-radius: 10px;
}

button {
    height: 35px;
}

button:hover {
    background-color: rgb(152, 103, 103);

}

#for-chat-message {
    border: 1px solid black;
    width: 100%;
    background-color: rgb(160, 213, 204);
    position: relative;
    height: 370px;
    border-radius: 20px;
    overflow: auto;
    word-wrap: break-word;
    float: right;
}
#message-text-area {
    padding-top: 7px;
}

#total-grp {
    float: left;
    border: 1px solid black;
    width: 33%;
    height: 100%;
    /* padding-left: 30px; */
    padding-right: 30px;
    padding-bottom: 30px;
    /* display: flex; */

    border-radius: 20px;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

#for-availabe-group {
    border: 1px solid black;
    width: 100%;
    background-color: rgb(160, 213, 204);
    position: relative;
    height: 80%;
    border-radius: 20px;
    overflow: auto;
    word-wrap: break-word;
}

#for-availabe-group div {
    border: 1px solid black;
}

#chat-main-container  #for-chat-message .my_message{
    padding-left: 85%;
    padding-top: 10px;
    width: fit-content;
    font-family: sans-serif;
    font-weight: bolder;
    color: green;
   
    
}

#chat-main-container  #for-chat-message .other_message{
    padding-right:70%;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 10px;
    color: red;
    
}
#chat-main-container  #for-chat-message div {
    width: fit-content;
}
